* { box-sizing: border-box; }
html, body { height: 100%; }
img { width: 100% }

.row {
    display: flex;
    flex-direction: column;
}
.col-blue {
    background: #075AFF;
    width: 100%;
    flex: 4;
    padding: 20px;
}
        .col-blue img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            display: block;
            margin: auto;
            margin-bottom: 50px;
        }
.blue-col-grid {
    display: flex;
    flex-direction: column;
    height: 95vh;
}
    .col-blue-text {
        margin-top: 100px;
        color: white;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
            .ampersand {
                font-weight: lighter;
            }
            .howdie {
                display: block;
                font-size: 15px;
                font-weight: lighter;
                opacity: .5;
            }
    .coffee-button {
        display: block;
        border: 2px solid white;
        background: transparent;
        border-radius: 5px;
        padding: 20px;
        margin: 0 auto;
        font-size: 15px;
        color: white;
        margin-top: 30px;
    }
        .button-arrow {
            float: right;
            padding-left: 40px;
        }
.bottom-row-text {
    display: flex;
    flex: 1;
    align-items: flex-end;
}
        .col-bottom-left{
            flex: 1;
            float: left;
            color: white;
        }
        .col-bottom-right {
            flex: 1;
            text-align: right;
        }
            .white-icons {
                color: white;
                font-size: 15px;
                word-spacing: 5px;
            }
.col-info {
    width: 100%;
    flex: 3;
    padding-left: 50px;
    padding-right: 50px;
}
        .col-info > p {
            font-weight: lighter;
            line-height: 20px;
        }
        .col-info > h1 {
            display: inline;
            font-size: 17px;
            padding-right: 25px;
        }
        .blue-header {
            font-size: 15px;
            color: #075AFF;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .blue-carrot {
            font-size: 15px;
            color: #075AFF;
            padding-right: 20px;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 30px;
            font-weight: bold;
            font-size: 15px;
        }
.col-middle-desktop {
    display:none;
    width: 100%;
    background: white;
    flex: 1
}
        .blue-header-middle {
            font-size: 15px;
            color: #075AFF;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 70px;
            padding-left: 10px;
            text-align: right;
        }
            #projects-push {
                margin-top: 355px;
            }
@media all and (min-width: 554px) {
    .row {
        flex-direction: row;
    }
}
@media all and (min-width: 900px) {
    .col-middle-desktop {
        display: block;
    }
    .blue-header {
        display: none;
    }
    .col-info {
        padding-top: 50px;
    }
    .col-info > p {
        width: 400px;
    }
    ul {
        margin-bottom: 50px;
    }
}
@media all and (min-width: 554px) and (max-width: 900px) {
    .col-blue {
        flex: 1;
    }
    .col-info {
        flex: 1;
    }
}
